---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}

<h2 id="">关于我</h2>

<ul>
<li>
<p>Android, iOS开发者。</p>
</li>
<li>
<p>喜欢ruby, 活跃在全球最大同志交友网站----Github<a href="https://github.com/wujinkui"</p>
</li>
</ul>

<hr>

<h2 id="_2">联系我</h2>

<ul>
<li>
<span><span>GitHub: </span><a href="https://github.com/kui2015">kui2015</a><span>
</li>
<li>
<p>邮箱: wujinkui2015@163.com</p>
</li>
</ul>

<br />
<hr>
<div id="comment-hook"></div>
{% include custom/duoshuo.html %}
