---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}

<h2 id="">关于我</h2>

{% highlight ruby %}
Property = Android Developer
Github Name = 'kui2015'
Real Name = 'wujinkui'
Now Company = '群硕软件'

blog = 'http://wujinkui.com'
github = 'https://github.com/kui2015'

{% endhighlight %}

<h2 id="_2">联系我</h2>

<ul>
<li>
<p>GitHub: <a href="https://github.com/kui2015">kui2015</a></p>
</li>

<br />
<hr>
<div id="comment-hook"></div>
{% include custom/duoshuo.html %}
