---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}

<h2 id="">关于我</h2>

<ul>
<li>大众版</li>
</ul>

<p>Android开发者</p>

<ul>
<li>Ruby版</li>
</ul>

{% highlight ruby %}
name = 'kui2015'
real_name = 'wujinkui'
description = 'Android Developer'
company = '群硕软件'

blog = 'http://wujinkui.com'
github = 'https://github.com/kui2015'

while true
  programing
  reading
  enjoying
end
{% endhighlight %}

<h2 id="_2">联系我</h2>

<ul>
<li>
<p>GitHub: <a href="https://github.com/kui2015">kui2015</a></p>
</li>

<br />
<hr>
<div id="comment-hook"></div>
{% include custom/duoshuo.html %}
