---
layout: default
---
<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span9">
    <div class="post">
      {{ content }}
    </div>
    <hr>
    <div class="paging-links">
      {% if page.previous %}
        <div>上一篇： <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></div>
      {% else %}
        <div>上一篇： 没有了</div>
      {% endif %}
      <br/>
      {% if page.next %}
        <div>下一篇： <a href="{{ page.next.url }}">{{ page.next.title }}</a></div>
      {% else %}
        <div>下一篇： 没有了</div>
      {% endif %}
    </div>
    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        {% if site.safe == false %}var disqus_developer = 1;{% endif %}
        var disqus_shortname = '{{ site.comments.disqus.short_name }}'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    
  </div>
  
  <div class="span3">
    <div class="sidebar">
      <h4 class="sidebar-title"><i class="icon-calendar icon-white"></i> 发布时间</h4>
      <div class="date"><span>{{ page.date | date: "%Y年%m月%d日" }}</span></div>    
      {% if page.category %}
      <h4 class="sidebar-title"><i class="icon-list icon-white"></i> 分类</h4>
      <div class="sidbar-content category"><a href="/categories.html#{{ category }}-ref">{{ page.category }}</a></div>
      {% endif %}     
      {% unless page.tags == empty %}
        <h4 class="sidebar-title"><i class="icon-tags icon-white"></i> 标签</h4>
        <ul class="tag_box">
          {% for tag in page.tags %}
          <li><a href="/tags.html#{{ tag }}-ref">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endunless %}
    </div>         
  </div>
</div>
